.activeNavLink {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: #ffffff1a;
  color: #fff;
  cursor: pointer;
}

.activeDetailNavLink {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: #ffffff1a;
  color: #fff;
  cursor: pointer;
}

.activeDetailIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.75rem;
  padding: 1rem;
  background-color: #ffffff1a;
  color: #fff;
  cursor: pointer;
}
