.arrow_box {
  position: relative;
  background: black;
  border: 1px solid black;
}
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(199, 189, 189, 0);
  border-top-color: black;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: black;
  border-width: 11px;
  margin-left: -11px;
}
